h1{
    color: #229a00;
    align-items: top;
}

a {
    text-decoration: none;
    color: #229a00;
    padding: 10px;
    font-size: 20px;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1c1c;
}

a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-decoration: none;
  color: #229a00;
  padding: 10px;
  font-size: 20px;
}

a:hover {
    color: #ffffff;
    background-color: #1e8700;
    border-radius: 10px;
}

h3 {
     color: #229a00;
    text-align: center;
}